@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Roboto&display=swap");
:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #151625;
}

.hide {
  position: absolute;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  background-color: #db3744;
}

.overlay.second {
  left: 33.3%;
}

.overlay.third {
  left: 66.6%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-right: 5rem;
  }
}

.nav__logo {
  background-color: #db3744;
  width: 9rem;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo img {
  width: 5.2rem;
  height: 4.8rem;
}

.nav__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  background-color: #db3744;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: auto;
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: transparent;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.nav__link {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5rem;
}

.nav__link:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.64;
    margin-bottom: 0;
    margin-right: 4rem;
  }
}

.nav__link a {
  color: inherit;
  text-decoration: none;
}

.nav__close_btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
}

.nav__close_btn img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav__close_btn {
    display: none;
  }
}

.nav__hamburger {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    cursor: pointer;
    margin-left: 0;
  }
}

.nav__hamburger img {
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7rem;
  padding: 0 2rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    margin-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .main .intro {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 30%;
  }
}

@media screen and (min-width: 1920px) {
  .main .intro {
    width: 35%;
  }
}

.main .intro__heading {
  width: 100%;
  height: 19.2rem;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main .intro__heading {
    height: 12.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .main .intro__heading {
    width: 120%;
  }
}

@media screen and (min-width: 1366px) {
  .main .intro__heading {
    height: 13.1rem;
  }
}

@media screen and (min-width: 1440px) {
  .main .intro__heading {
    height: 14.2rem;
  }
}

@media screen and (min-width: 1920px) {
  .main .intro__heading {
    height: 17.6rem;
  }
}

.main .intro__heading h1 {
  font-size: 5.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 1366px) {
  .main .intro__heading h1 {
    font-size: 5.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .main .intro__heading h1 {
    font-size: 5.8rem;
  }
}

@media screen and (min-width: 1920px) {
  .main .intro__heading h1 {
    font-size: 7.2rem;
  }
}

.main .intro__heading span {
  color: #db3744;
}

.main .intro__text {
  margin: 3.5rem 0;
  height: 11.6rem;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main .intro__text {
    height: 5.8rem;
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .main .intro__text {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .main .intro__text {
    height: 7.7rem;
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .main .intro__text {
    width: 80%;
    height: 5.8rem;
  }
}

.main .intro__text p {
  font-size: 1.6rem;
  color: #ffffff;
  opacity: 0.64;
  font-family: "Montserrat", sans-serif;
}

.main .intro__btn {
  background-color: #db3744;
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #db3744;
  border-radius: 0.5rem;
  width: 18rem;
  height: 5.2rem;
}

.main .featured_image {
  display: none;
}

@media screen and (min-width: 1280px) {
  .main .featured_image {
    display: block;
    position: relative;
    z-index: -1;
    left: 3.5rem;
    width: 45%;
  }
}

@media screen and (min-width: 1920px) {
  .main .featured_image {
    left: -8rem;
    width: 50%;
  }
}

.main .featured_image img {
  width: 100%;
}

.main .process {
  width: 100%;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .main .process {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .main .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 25%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .main .process {
    width: 15%;
  }
}

.main .process__item {
  margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
  .main .process__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .main .process__item {
    text-align: right;
  }
}

.main .process__item h3 {
  color: #db3744;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.main .process__item h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8%;
  height: 0.2rem;
  display: block;
  background-color: #db3744;
}

@media screen and (min-width: 1280px) {
  .main .process__item h3:after {
    left: initial;
    right: 0;
    width: 12%;
  }
}

.main .process__item p,
.main .process__item a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.main .process__item p {
  font-size: 1.6rem;
  letter-spacing: 0.86px;
  margin: 1.5rem 0 2rem;
  opacity: 0.64;
}

@media screen and (min-width: 768px) {
  .main .process__item p {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .main .process__item p {
    width: 70%;
  }
}

@media screen and (min-width: 1280px) {
  .main .process__item p {
    margin-left: auto;
    font-size: 1.4rem;
  }
}

.main .process__item a {
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0.25;
}

footer {
  padding: 7rem 2rem 2rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 7rem 5rem 2rem;
  }
}

footer .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1280px) {
  footer .social_icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer .social_icons .social_icon {
  color: #ffffff;
  margin-right: 3rem;
}

footer .social_icons .social_icon:last-of-type {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */